body {
    background-image: url(./images/15.jpg);
    background-repeat: no-repeat;
    background-position-x:50%;
    background-position-y:50%;
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    display:block;
    font-family:Lato;
    font-style:normal;
    font-weight:400;
    height:706px;
    line-height:24px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-left:0px;
    position:absolute;
    text-shadow:rgba(0, 0, 0, 0.004) 1px 1px 1px;
    text-size-adjust:100%;
    top:0px;
    width:949px;
    z-index:4;
    -webkit-box-direction:normal;
    -webkit-font-smoothing:antialiased;

}
ul {
     list-style-type: none;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
     list-style-position: inside;
     margin-bottom: 0;
     margin-left: 0;
     display: block;
     text-align: -wekit-match-parent;
     font-size: 1.125rem;
     line-height: 1.5; 
     padding: 0%;
     height: 100%;
     width: 25%;
     position: fixed;
     overflow: auto;



}

.c-masthead__subtitle__title {
    font-size: 72px;
    font-family: 'c-masthead__subtitle__title';
    line-height: .9;
    margin-top: 12px;
    display: inline-block;
    color: white;
    text-align: left;
}
.c-masthead__description {
    font-size: 24px;
    color: white;
    font-family: 'Futura PT W01 Light';
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 0 30px;
    
}
.c-masthead__cta {
    border-radius: 40px;
    border-color: #ffc700;
    border-style: solid;
    border-width: 3px;
    color: #333e48;
    margin: 0;
    background-color: #ffc700;
    padding: 10px 50px;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    height: 44px;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 0;
    overflow: hidden;
    text-transform: none;
    transition: none;
    white-space: nowrap;
    width: auto;
}
.Power {
    color: white;
    font-size: 39px;

}
.c-full-width-text-subcontent__primary {
  box-sizing:border-box;
  color:rgb(51, 62, 72);
  display:block;
  font-family:Lato, Helvetica, Arial, sans-serif;
  font-size:48px;
  font-style:normal;
  font-weight:700;
  height:180px;
  line-height:60px;
  margin-bottom:30px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  text-align:center;
  text-shadow:rgba(0, 0, 0, 0.004) 1px 1px 1px;
  text-size-adjust:100%;
  width:407px;
  -webkit-box-direction:normal;
  -webkit-font-smoothing:antialiased;
}
.c-full-width-text-subcontent__description {
box-sizing:border-box;
color:rgb(51, 62, 72);
display:block;
font-family:Lato, Helvetica, Arial, sans-serif;
font-size:16px;
font-style:normal;
font-weight:400;
height:78px;
letter-spacing:0.5px;
line-height:26.4px;
margin-block-end:16px;
margin-block-start:0px;
margin-bottom:16px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
text-align:center;
text-shadow:rgba(0, 0, 0, 0.004) 1px 1px 1px;
text-size-adjust:100%;
visibility:visible;
width:919px;
-webkit-box-direction:normal;
-webkit-font-smoothing:antialiased;
}